*.bundle.*
lib/
node_modules/
*.egg-info/
.ipynb_checkpoints
*.tsbuildinfo
jupyterlab_code_formatter/labextension

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.idea/

.vscode/

*.swp
venv/
.venv/

**/.hypothesis/
.Rhistory
build/

**/dist/


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
*.egg
MANIFEST
tsconfig.tsbuildinfo
