name: CI

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'
  schedule:
    - cron: '0 0 * * *'

jobs:
  lint-and-test:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: goanpeca/setup-miniconda@v1
      with:
        auto-update-conda: true
        python-version: 3.8

    - name: Cache node modules
      id: cache-node-modules
      uses: actions/cache@v1
      with:
        path: labextension/node_modules
        key: ${{ runner.OS }}-node

    - name: Install conda environment
      shell: bash -l {0}
      run: |
        make conda-install-frozen

    - name: Install plugin
      shell: bash -l {0}
      run: |
        source ./start_env.sh && make dev-install

    - name: Run linters
      shell: bash -l {0}
      run: |
        source ./start_env.sh && make lint

    - name: Run tests
      shell: bash -l {0}
      run: |
        source ./start_env.sh && make test
